body {
    background-image: url("../images/train-station-full-hd-wallpaper-download-train-station-images-free-display-artwork-samsung-backgrounds-2560x1600.jpg");
}

#logo {
    width: 7rem;
}

#logo1 {
    width: 7rem;
}